@import "/style/variables";

$article-h1-top-spacing: 3.125rem;
$article-block-spacing: 1rem;
$article-line-height: 2rem;

article{
  .toc{
    margin-bottom: 2rem;

    h2{
      font-size: $size-6;
      font-weight: $weight-light;
      border-bottom: 1px solid $border;
      padding-bottom: .5rem;
      margin-bottom: .5rem;
    }
    ul{

    }
  }
}

article .is-invalid-link:after,
article .is-missing-link:after{
  content: '⚠️';
}

article p, article ul, article ol{
  margin-bottom: $article-block-spacing;
  line-height: $article-line-height;
  list-style: square inside;
}
article ol{
  list-style: decimal-leading-zero inside;
}

article p:last-child, article ul:last-child, article ol:last-child{
  margin-top: 0rem;
  margin-bottom: 0rem;
}

article pre[class*="language-"]{
  margin-top: 0rem;
  margin-bottom: $article-block-spacing;
}
article pre[class*="language-"]:last-child{
  margin-bottom: 0rem;
}

article header h1{
  margin-bottom: 2rem;
}

article > h2{
  font-size: $size-4;
  line-height: 3.75rem;
  //flex: 0;
  //width: 100%;
  color: $title-color;
  font-weight: $title-weight;
  border-bottom: 1px solid $border;
  margin-bottom: 2rem;
}

article > h2:target {
  position: relative;
  border-top: $navbar-total-height + 1rem solid transparent;
  margin-top: -($navbar-total-height + 1rem);
  //padding-top: $article-h1-top-spacing; // using margin below, so move that spacing to padding
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

article header + p{
  padding-top: $article-h1-top-spacing;
}

article > h3{
  color: $subtitle-color;
  font-size: $size-6;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: $weight-medium;
}

article > h4{
  font-size: $size-6 - 0.1rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 400;
  color: $grey-darker;
}

article code{
  white-space: pre;
  word-break: keep-all; // code usually for small snippets or words, not large blocks.  so prevent those words/snippets from breaking.
  color: #e83e8c;
}

article h3 code{
  color: $grey-darker;
}

