
/**
 * Branding
 *
 * Bulma uses the grey-, black-, white- variations to drive many other settings.
 */

$blue: #0c84cd;
$blue-light: #238cd6;
$blue-lighter: #409ce7;

$primary: $blue;
$info: $blue;

$black: #14171A;
$black-bis: #14171A;
$black-ter: #14171A;

$white: #ffffff;
$white-ter: #F5F8FA;
$white-bis: #F5F8FA;

$grey-darker: #2a3137;
$grey-dark: #414c56;
$grey: #657786;
$grey-light: #aab8c2;
$grey-lighter: #E1E8ED;
$grey-lightest: #F5F8FA;


/**
 * Import
 */
@import "/bulma/utilities/initial-variables";
@import "/bulma/utilities/functions";
@import "/bulma/utilities/derived-variables";


/**
 * Overrides
 */

$title-weight: $weight-normal;
$subtitle-weight: $weight-normal;

$body-size: 14px;

$box-padding: 2rem;

$navbar-breakpoint: 0px;
$navbar-height: 3.25rem;
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 1rem;

$size-7: .8rem;

/**
 * More
 */

$navbar-total-height: $navbar-height + $navbar-padding-vertical + $navbar-padding-vertical;

